TWITTER_API_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXX"
TWITTER_API_SECRET = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
TWITTER_ACCESS_TOKEN = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" 
TWITTER_ACCESS_SECRET = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" 
FILTER=["Amsterdam", "Stockholm", "Copenhagen", "Toronto"]
